<div>
  <div class="row justify-content-between mb-5">
    <div class="col-9">

      <div class="mb-4">
        <form class="d-flex">
          <input class="form-control form-control-lg me-2"
                 type="search"
                 placeholder="Search"
                 aria-label="Search">
          <button class="btn btn-outline-success"
                  type="submit">Search</button>
        </form>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <a href="/teachers/1"
           class="text-reset text-decoration-none">
          <div class="col">
            <div class="card h-100">
              <div class="row g-0 mt-4">
                <div class="col-md-5">
                  <img src="https://illustcenter.com/wp-content/uploads/2022/09/sdesign_00165-508x381.png"
                       class="img-fluid rounded"
                       alt="avatar">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">{{user.info}}</p>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>
    <div class="col-3">
      <div class="card mx-auto"
           style="width: 14rem;">

        <div class="mx-auto my-3">
          <div class="badge bg-primary text-wrap">
            <h5 class="my-auto">學習時數排行</h5>
          </div>
        </div>

        <div class="card">
          <div class="my-2 d-flex justify-content-start">
            <div class="col-4 ms-4">
              <img src="https://illustcenter.com/wp-content/uploads/2022/09/sdesign_00165-508x381.png"
                   class="img-fluid rounded-circle"
                   alt="avatar">
            </div>
            <div class="my-auto ms-3">
              <h5 class="card-title">{{user.name}}</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link"
             href="#">1</a></li>
        <li class="page-item"><a class="page-link"
             href="#">2</a></li>
        <li class="page-item"><a class="page-link"
             href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>